<ion-content padding id="page5">
	<div class="alert-network" *ngIf="networkMessage">
		Network Status !! {{networkMessage}}
	</div>
	
	<div class="alert-network" >
		Network Status !! 
	</div>
	
	<network-notify></network-notify>
	
	<form (ngSubmit)="validateUserAuthentication('Login',this)">
		<ion-list id="login-list2">
			<ion-item id="login-input1">
				<ion-label stacked> User name</ion-label>
				<ion-input type="email" [(ngModel)]="loginEmail" [ngModelOptions]="{standalone: true}" value="jhon@smith.com"></ion-input>
			</ion-item>
			<ion-item id="login-input2">
				<ion-label stacked> Password </ion-label>
				<ion-input type="password" [(ngModel)]="loginPassword" [ngModelOptions]="{standalone: true}" value="123"></ion-input>
			</ion-item>
		</ion-list>
		<button type="submit" class="login-button" ion-button block color="stable">
			Log in
		</button>
		<div class="spacer" style="height:40px;"></div>
		
		
		<div class="spacer" style="height:40px;"></div>
	</form>
	<button *ngIf="showFingerPrint" id="login-finger" ion-button round full outline block color="positive" (click)="startFingerPrint()">
		Or start with FingerPrint&nbsp;
		<ion-icon name="finger-print" class="finger-print"></ion-icon>
	</button>
	
	{{storageUsers}}
		<button class="login-button" ion-button block color="stable" (click)="getUserAuth()">
			Get Storage user
		</button>

</ion-content>
