page-login {


body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #2f4050;
    font-size: 13px;
    color: #676a6c;
    background-color: #f3f3f4 !important;
}

ion-content {
	margin: 0 auto;
    padding-top: 40px;
	text-align: center;
}


	.logoIcon {
		max-width: 87%;
		margin-left: 14px;
	}
	/* Portrait layout (default) */
	.app {
		position:absolute;             /* position in the center of the screen */
		left:50%;
		top:50%;
		height:50px;                   /* text area height */
		width:225px;                   /* text area width */
		text-align:center;
		padding:210px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
		margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
									   /* offset horizontal: half of text area width */
	}
	
	ion-fab[top][edge] {
		top: 0px;
	}

}


