<ion-header *ngIf="order.type">
  <ion-navbar>
    <ion-title> 
	  <h5> {{order.type.name}} <ion-icon end [name]="order.type.icon" class="title-icon" ></ion-icon></h5>
	</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


<ion-card>
<button  ion-button (click)="openViewer()">
</button>

<ion-card-header class="ibox-title">
	<ion-grid>
	<ion-row>
		<ion-col col-8>
			<h5 class="white-color">Orden de Producción {{order.id}}</h5>
		</ion-col>
		<ion-col col-2>
			<h5 class="white-color">Fecha  {{order.date}}</h5>
		</ion-col>
	</ion-row>
	</ion-grid>
	
</ion-card-header>

<ion-card-content>
<ion-grid>
	<ion-row>
		<ion-col col-2 style="flex: 0 0 13.66667%;">
			<label class="label">Cliente</label>
		</ion-col>
		<ion-col col-10>
			<label>{{order.client.contact}}</label>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col col-2 style="flex: 0 0 10.66667%;">
			<label>Local</label>
		</ion-col>
		<ion-col col-4 style="max-width: 42.33333%;  flex: 0 0 41.33333%;">
			<label>{{order.local.name}}</label>
		</ion-col>
		<ion-col col-2>
			<label>Ciudad</label>
		</ion-col>
		<ion-col col-4 style="flex: 0 0 29.33333%;">
			<label>{{order.local.city}}</label>
		</ion-col>
	</ion-row>
	
</ion-grid>
</ion-card-content>

</ion-card>


<ion-card>

<ion-card-header class="ibox-title">
<ion-grid>
<ion-row>
<ion-col>
	<h5 class="white-color">Planilla de Evaluación de Receptoras</h5>
</ion-col>
</ion-row>
</ion-grid>

</ion-card-header>
<ion-card-content>
<button ion-button class="add-button" (click)="addNewForm()">
	<ion-icon name='add'></ion-icon>
  </button>

<table style="width:100%;">
  <tr>
    <th>Id Animal</th>
    <th>Chapeta</th> 
    <th>Diagnóstico</th>
	<th>Apta</th>
	<th>Sincronizada</th>
	<th>Encargado</th>
	<th>Observaciones</th>
  </tr>
  <tr *ngFor="let item of order.itemList; let indx = index" (click)="goToForm(indx)">
    <td>{{item.idAnimal}}</td>
    <td>{{item.chapeta }}</td> 
    <td>{{item.diagnostico}}</td>
	<td>{{item.apta ? 'Si':'No'}}</td>
	<td>{{item.sincronizada ? 'Si':'No'}}</td>
	<td>{{item.encargado}}</td>
	<td>{{item.observaciones}}</td>
  </tr>
  <tr *ngIf="order.itemList.length === 0">
    <td colspan="7"> No se encuentran datos !</td>
  </tr>
</table>
</ion-card-content>
</ion-card>

<div class="spacer"></div>

<ion-item class="terms-item">
		<button ion-button full (click)="openSignatureModel()"> Open Signature </button>
		<div style="border: solid 1px grey; min-height: 147px;"><img [src]="order.signatureImage" *ngIf="order.signatureImage" /></div>
</ion-item>
<ion-item class="terms-item">
  <button ion-button full (click)="makePdf()"> createPDF </button>
</ion-item>
	
</ion-content>
