<ion-header *ngIf="order.type">
  <ion-navbar>
    <ion-title> 
	  <h5> {{order.type.name}} <ion-icon end [name]="order.type.icon" class="title-icon" ></ion-icon></h5>
	</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-label>Información Básica de la Orden</ion-label>
<ion-card>
  <ion-list>
  <ion-item><ion-label>Orden No.</ion-label>
			<ion-label [innerHTML]="order.orderId"></ion-label>
			</ion-item>
  <ion-item><ion-label>Cliente</ion-label>
		<ion-label [innerHTML]="order.cliente"></ion-label>
		</ion-item>
  <ion-item>
		<ion-label>Local</ion-label>
		<ion-label [innerHTML]="order.local"></ion-label>
  </ion-item>
  <ion-item>
	    <ion-label>Ciudad</ion-label>
		<ion-label [innerHTML]="order.city"></ion-label>
  </ion-item>
  <ion-item>
        <ion-label>Fecha</ion-label>
		<ion-label [innerHTML]="order.date | date : 'dd/MM/yy h:mm a' "></ion-label>
	</ion-item>
  
</ion-list>
</ion-card>

<ion-item *ngIf="order.type">
    <button ion-button item-start outline icon-end (click)="addNewForm()">
	Nuevo
	<ion-icon name='add'></ion-icon>
  </button>
   Plantilla de {{order.type.name}}
</ion-item>

<div class="row header">
  <div class="col">IdAnimal</div>
  <div class="col">Name</div>
  <div class="col">Champeta</div>
  <div class="col">Diagnostico</div>
  <div class="col">Apta</div>
  <div class="col"></div>
</div>
<div *ngIf="order.itemList">
<div class="row" *ngFor="let item of order.itemList">
  <div class="col">{{item.idAnimal}}</div>
  <div class="col">{{item.name}}</div>
  <div class="col">LK {{item.champeta}}</div>
  <div class="col">{{item.diagnostico}}</div>
  <div class="col">{{item.apta}}</div>
  <div class="col"><button class="button" (click)="goToForm(item)">Add</button></div>
</div>
</div>


<ion-item *ngIf="!order.itemList">
<div class="row" >
  <div class="col" colspan="5"> No item found </div>
</div>
</ion-item>


<div class="spacer"></div>

<ion-item class="terms-item">
		<button ion-button full (click)="openSignatureModel()"> Open Signature </button>
		<div><img [src]="signatureImage" *ngIf="signatureImage" /></div>
</ion-item>
	
</ion-content>
